body {
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  display: none;
  position: fixed;
  z-index: -1;
  background: url("../images/navbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar {
  background: url("../images/navbg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 5px;
  z-index: 1;
}

.navbar-brand {
  font-weight: bold;
  font-size: 35px;
  text-shadow: 0px 0px 30px white;
}

.g2g-lg {
  width: 300px;
  height: auto;
}

#image-carousel {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content {
  text-align: center;
  background-color: #c27313;
  font-weight: bold;
  color: white;
}

.carousel {
  padding-top: 20px;
  margin-bottom: 20px;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
}

.close-navbar {
  display: none;
}

.navbar-nav {
  font-size: 20px;
  background-color: rgba(180, 99, 1, 0.5);
  border-radius: 50px;
}

.navbar-nav .active {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

/*phone screens: portrait and small landscape | tablet screens: small portrait only*/
@media only screen and (min-width: 320px) and (max-width: 790px) {
  body {
    padding-top: 80px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .content {
    background-color: black;
    color: white;
    width: auto;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar {
    background: black;
  }
  .navbar-nav {
    background-color: black;
  }
  .g2g {
    width: 80px;
    height: auto;
  }
  .navbar-toggler:hover {
    background-color: #3f3f3f;
  }
  .close-navbar {
    background-color: black;
    border: none;
    color: gray;
    margin-top: -40%;
    float: right;
    display: block;
  }
  .close-navbar:hover {
    color: white;
  }
  .close-navbar, .close-navbar:focus, .close-navbar:active {
    padding: 0;
  }
  .nav-link {
    font-size: 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 790px) and (min-width: 500px) {
  .navbar-nav {
    margin-top: -20%;
    background-color: black;
  }
  .nav-link {
    font-size: 18px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 790px) and (min-width: 700px) {
  body {
    padding-top: 78px;
  }
  .nav-link {
    font-size: 20px;
  }
  .navbar-brand {
    font-size: 25px;
  }
  .close-navbar {
    margin-top: -40%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 790px) {
  .nav-item {
    padding-left: 5px;
    margin-bottom: 3px;
  }
  .nav-item:hover, .nav-item.active {
    width: 200%;
    border-radius: 50px;
    background-color: #3f3f3f;
    font-weight: bold;
  }
  .navbar-collapse {
    background-color: black;
    -webkit-box-shadow: -10px -10px 10px;
            box-shadow: -10px -10px 10px;
    position: fixed;
    top: 0%;
    padding-top: 20%;
    padding-left: 15px;
    padding-right: 15px;
    left: 100%;
    height: 150%;
    width: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar-collapse.collapsing {
    left: 100%;
    margin-left: 100%;
    height: 100% !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar-collapse.show {
    left: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

/*phone screens: large landscape only || tablet screens: portrait and small landscape only*/
@media only screen and (min-width: 800px) and (max-width: 970px) {
  body {
    padding-top: 87px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .services {
    background-color: black;
    color: white;
    width: auto;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar {
    background: black;
  }
  .navbar-toggler:hover {
    background-color: #3f3f3f;
  }
  .navbar-nav {
    background-color: black;
    margin-top: -20%;
  }
  .close-navbar {
    background-color: black;
    border: none;
    color: gray;
    margin-top: -40%;
    float: right;
    display: block;
  }
  .close-navbar:hover {
    color: white;
  }
  .close-navbar, .close-navbar:focus, .close-navbar:active {
    padding: 0;
  }
  .nav-link {
    font-size: 25px;
  }
  .g2g {
    width: 95px;
    height: auto;
  }
  .close-navbar {
    margin-top: -38%;
  }
  .nav-item {
    padding-left: 5px;
    margin-bottom: 3px;
  }
  .nav-item:hover, .nav-item.active {
    width: 200%;
    border-radius: 50px;
    background-color: #3f3f3f;
    font-weight: bold;
  }
  .navbar-collapse {
    background-color: black;
    -webkit-box-shadow: -10px -10px 10px;
            box-shadow: -10px -10px 10px;
    position: fixed;
    top: 0%;
    padding-top: 20%;
    padding-left: 15px;
    padding-right: 15px;
    left: 100%;
    height: 150%;
    width: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar-collapse.collapsing {
    left: 100%;
    margin-left: 100%;
    height: 100% !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar-collapse.show {
    left: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

/*tablet screens: large tablet view ports*/
@media only screen and (min-width: 1000px) and (max-width: 1030px) and (min-height: 700px) and (max-height: 770px) {
  .g2g-lg {
    width: 300px;
    height: auto;
  }
  .nav-item {
    font-size: 20px;
  }
  .nav-item:hover, .nav-item.active {
    border-radius: 50px;
    background-color: rgba(63, 63, 63, 0.4);
  }
}
